@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --destaque: #191a1a;
}

body{
    font-family: "Raleway", sans-serif;
    
}

h1,h2{
    font-family: "Gravitas One", serif;
}

header{
    text-align: center;
    background-color:var(--destaque);
    padding: 1em;
}

header img{
    width: 120px;
    margin-bottom: 25px;
}

a{
    transition: 0.3s;
}

nav a{
    font-weight: bold;
    color: white;
    margin: 0 0.5em;
    font-size: 1.1em;
}

nav a:hover{
    color: black;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

h1{
    color: var(--destaque);
    text-align: center;
    margin: 1em 0;
}

#productos article{
    padding:1em;
    border-radius: 5px;
    background-color: rgb(212, 209, 209);
    margin-bottom: 1.2em;
    box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.548);
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;

}

#productos h2{
    color: var(--destaque);
    font-weight: 400;
}

#productos p{
    line-height: 1.4em;
}

#productos a{
    background-color: var(--destaque);
    border-radius: 1.2em;
    padding: 10px;
    color: white;
    font-weight: bold;
}




@media all and (min-width:768px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
    }

    h1{
        font-size: 3em;
       
    }

    #productos{
        display: flex;
        flex-wrap: wrap;
        gap: 1.2em;
        
    }

    #productos article{
       flex-grow: 1;
       flex-shrink: 0;
       flex-basis: 350px;
    }
}


@media all and (min-width:1200px){
    #productos article{
        flex-basis: 250px;
    }
}